{% extends 'base.html' %} {% load static %} {% block css_files %}
<link rel="stylesheet" href="{% static 'folio/style.css' %}" />
{% endblock %} {% block content %}
<header>
  <!--Navbar - bootstrap-->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark shadow-5-strong">
    <div class="container-fluid">
      <!--Brand-Logo-->
      <a class="navbar-brand" href="#">
        <img
          src="{% static 'folio/images/signature.png' %}"
          alt="LOGO"
          width="200"
          height="60"
        />
      </a>

      <!--Toggle-button-->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--Nav-list-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav pe-5 ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link not-contact" aria-current="page" href="#"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link not-contact" href="#">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link not-contact" href="#">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link not-contact" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <button type="button" class="btn btn-info btn-sm">
                Contact Me
              </button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Home page -->
<section class="hero">
  <div class="hero-content">
    <div class="hero--content--intro">
      <img id="profile_pic" src="{% static 'folio/images/aj3.webp' %}" />
      <h1 class="intro--name">
        Anurag <br />
        Janghala
      </h1>
    </div>
    <div class="hero--content-subsection">
      <h3 class="description">FullStack Developer</h3>
      <p class="slogan">who is passionate about Web technologies and AI</p>
    </div>
    <div class="socials">
      <br />
      <p>Check my Socials :</p>
      <a href="https://www.linkedin.com/in/anuragjanghala/"
        ><img src="{% static 'folio/images/socials/linkedin.png' %}" alt=""
      /></a>
      <a href="https://github.com/anuragjanghala"
        ><img src="{% static 'folio/images/socials/github.png' %}" alt=""
      /></a>
      <a href="https://www.instagram.com/hopswskiii/"
        ><img src="{% static 'folio/images/socials/instagram.png' %}" alt=""
      /></a>
    </div>
  </div>
</section>

<section class="container" id="about-me"></section>

<div class="container" id="skills">Skills</div>

<div class="container" id="projects">Projects</div>

<div class="container" id="contacts">Contact</div>

<footer>footer</footer>
{% endblock %}
