{% extends 'base.html' %} {% load static %} {% block css_files %}
<link rel="stylesheet" href="{% static 'folio/style.css' %}" />
{% endblock %} {% block content %}
<header>
  <div id="brand">
    <a href=""
      ><img
        id="brand-logo"
        src="{% static 'folio/images/signature.png' %}"
        alt="Logo"
    /></a>
  </div>
  <nav id="navlist">
    <ul class="nav-link">
      <li>
        <a href="#"> About Me</a>
      </li>
      <li><a href="#">Skills</a></li>
      <li><a href="#">Projects</a></li>
    </ul>
  </nav>
  <a href="#" id="contact">
    <button type="text">
      <span>Contact</span>
    </button>
  </a>
</header>
{% endblock %}
