{% extends 'base.html' %} {% load static %} {% block css_files %}
<link rel="stylesheet" href="{% static 'folio/style.css' %}" />

{% endblock %} {% block content %}

<!-- Home page -->
<section class="hero">
  <div class="hero-content">
    <div class="hero--content--intro">
      <img id="profile_pic" src="{% static 'folio/images/fp.gif' %}" />
      <h1 class="intro--name">
        Anurag <br />
        Janghala
      </h1>
    </div>
    <div class="hero--content-subsection">
      <h3 class="description">FullStack Developer</h3>
      <p class="slogan">who is passionate about Web technologies and AI</p>
    </div>
    <div class="socials">
      <br />
      <p>Check my Socials :</p>
      <a href="https://www.linkedin.com/in/anuragjanghala/"
        ><img src="{% static 'folio/images/socials/linkedin.png' %}" alt=""
      /></a>
      <a href="https://github.com/anuragjanghala"
        ><img src="{% static 'folio/images/socials/github.png' %}" alt=""
      /></a>
      <a href="https://www.instagram.com/hopswskiii/"
        ><img src="{% static 'folio/images/socials/instagram.png' %}" alt=""
      /></a>
    </div>
  </div>
</section>

<!-- About Me Section -->
<section class="container" id="about-me">
  <div class="row">
    <div class="col">
      <div class="about-img">
        <img
          class="shape"
          src="{% static 'folio/images/triangle.png' %}"
          alt=""
        />
        <img
          class="aj-pic"
          src="{% static 'folio/images/AJ-rmvbg.png' %}"
          alt=""
        />
      </div>
    </div>

    <div class="col">
      <div class="about-desc">
        <h2 class="about-desc-title">About Me</h2>
        <p class="about-desc-para1">
          Ever since I was a kid, I'd always wondered how things work on the
          internet which made me eager to learn more about the internet and
          that's when I learned to create web pages for the first time.
          Gradually, learned full-stack Web Development practicing various
          courses on the online platform.
        </p>

        <br />

        <p class="about-desc-para2">
          This passion carried me to my education in the field of Computer
          Engineering at Trinity College Dublin and Thapar Institute. And it was
          here when I learned how much there was yet to learn. Which later drove
          me towards Artificial Intelligence. So, I've started learning Deep
          Learning and Computer Vision aswell.
        </p>

        <br />

        <h3 class="resume">
          <button class="btn resume-btn">Resume</button>
        </h3>
      </div>
    </div>
  </div>
</section>

<!-- Skills Section -->
<section class="container" id="skills">
  <div class="row">
    <div class="col">
      <div class="skills-desc">
        <h1 class="skills-desc-title">Skills</h1>
        <br />
        <p class="skills-desc-para">
          So far, I've Bootstrap, HTML, CSS, Python, Flask, Django, MongoDB,
          MySQL, Git/GitHub under my belt. I'm still enthusiastically grabbing
          onto any other programming languages, frameworks, or principles I can
          integrate into the coding web in my mind.
        </p>
      </div>
    </div>

    <div class="col">
      <div class="skills-img">
        <img src="{% static 'folio/images/skills-laptop.gif' %}" alt="" />
      </div>
    </div>
  </div>
  <div class="slider">
    <div class="marquee">
      <div class="marquee--inner">
        <span>
          <div class="orb">
            <img src="https://img.icons8.com/color/144/000000/python--v1.png" />
          </div>
          <div class="orb red">
            <img src="https://img.icons8.com/color/144/000000/django.png" />
          </div>
          <div class="orb yellow">
            <img src="https://img.icons8.com/plasticine/150/000000/react.png" />
          </div>
          <div class="orb blue">
            <img
              src="https://img.icons8.com/color/144/000000/postgreesql.png"
            />
          </div>
          <div class="orb orange">
            <img src="https://img.icons8.com/color/144/000000/mongodb.png" />
          </div>
          <div class="orb purple">
            <img src="https://img.icons8.com/fluency/144/000000/docker.png" />
          </div>
          <div class="orb green">
            <img src="https://img.icons8.com/color/144/000000/git.png" />
          </div>
          <div class="orb">
            <img src="https://img.icons8.com/color/144/000000/jenkins.png" />
          </div>
        </span>
        <span>
          <div class="orb">
            <img src="https://img.icons8.com/color/144/000000/python--v1.png" />
          </div>
          <div class="orb red">
            <img src="https://img.icons8.com/color/144/000000/django.png" />
          </div>
          <div class="orb yellow">
            <img src="https://img.icons8.com/plasticine/150/000000/react.png" />
          </div>
          <div class="orb blue">
            <img
              src="https://img.icons8.com/color/144/000000/postgreesql.png"
            />
          </div>
          <div class="orb orange">
            <img src="https://img.icons8.com/color/144/000000/mongodb.png" />
          </div>
          <div class="orb purple">
            <img src="https://img.icons8.com/fluency/144/000000/docker.png" />
          </div>
          <div class="orb green">
            <img src="https://img.icons8.com/color/144/000000/git.png" />
          </div>
          <div class="orb">
            <img src="https://img.icons8.com/color/144/000000/jenkins.png" />
          </div>
        </span>
      </div>
    </div>
  </div>
</section>

<!-- Projects Section -->

<section class="container" id="projects">
  <h3 id="projects-headline">My Projects</h3>

  <div class="row">
    {% for project in projects %}
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <a href="{% url 'project' project.id %}">
          <img
            src="{{ project.thumbnail.url }}"
            class="card-img-top"
            alt="...img..."
          />
        </a>

        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <!-- <p class="card-text">{{project.description}}</p> -->
          <a href="{{ project.gh_links }}" class="btn btn-primary"
            ><img
              src="https://img.icons8.com/ios-glyphs/30/000000/link--v1.png"
          /></a>
        </div>
      </div>
    </div>
    {% empty %}
    <h3>There are no projects in the database</h3>
    {% endfor %}
  </div>
</section>

<!-- Contact Section -->
<section id="contact-me">
  <div class="container">
    <h1>Contact Me</h1>
    <form class="contact--form" method="POST" action="">
      {% csrf_token %} {% for field in form %}

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"
          >{{field.label}}</label
        >
        {{field}}
      </div>

      {% endfor %}

      <input
        style="font-size: 30px; border: 1px solid white; letter-spacing: 0.1em"
        class="btn btn-primary"
        type="submit"
        value="submit"
      />
    </form>
  </div>
</section>

<!-- footer section -->

<section id="footer">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4"
  >
    <div
      class="col-12 col-md-4 d-flex justify-content-center align-items-center"
      style="margin-top: 10px"
    >
      <span
        >© 2022 <br />
        designed by Janghala</span
      >
    </div>

    <div
      class="col-12 col-md-4 d-flex justify-content-center align-items-center"
    >
      <a
        href="/"
        class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
      >
        <img
          class="brand"
          src="{% static 'folio/images/signature.png' %}"
          alt=""
        />
      </a>
    </div>

    <ul
      class="nav col-12 col-md-4 justify-content-center list-unstyled d-flex"
      style="margin-top: 10px"
    >
      <li class="ms-3">
        <a
          class="text-muted"
          href="https://www.linkedin.com/in/anuragjanghala/"
        >
          <img src="{% static 'folio/images/socials/linkedin.png' %}" alt="" />
        </a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="https://github.com/anuragjanghala">
          <img src="{% static 'folio/images/socials/github.png' %}" alt="" />
        </a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="https://www.instagram.com/hopswskiii/">
          <img src="{% static 'folio/images/socials/instagram.png' %}" alt="" />
        </a>
      </li>
    </ul>
  </footer>
</section>

{% endblock %}
