{% load static %}

<header>
  <!--Navbar - bootstrap-->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark shadow-5-strong">
    <div class="container-fluid">
      <!--Brand-Logo-->
      <a class="navbar-brand" href="{% url 'landing-page' %}">
        <img
          src="{% static 'folio/images/signature.png' %}"
          alt="LOGO"
          width="200"
          height="60"
        />
      </a>

      <!--Toggle-button-->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--Nav-list-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav pe-5 ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link not-contact"
              aria-current="page"
              href="{% url 'landing-page' %}"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link not-contact" href="#about-me">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link not-contact" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link not-contact" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <button type="button" class="btn btn-info btn-sm">
                Contact Me
              </button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add-project' %}">
              <button type="button" class="btn btn-info btn-sm">
                Add project
              </button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
