@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

/* header */

header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    font-family: Roboto, sans-serif;
}

/* navbar elements */

.navbar-toggler {
    border: none;
}

/* .navbar-nav {
    align-items: center;
} */

.nav-item {
    padding: 0 1rem;
}

.btn-info {
    background-color: #0f1016;
    color: gold;
    border: 1px solid gold;
    border-radius: 20px;
}

.btn-info:hover {
    background-color: #710851;
    color: #e2defa;
    border: 1px solid #0f1016;
    border-radius: 20px;
}


/* front page */


.hero {
    margin-top: 100px;
    height: 85vh;
    color: #EADEDE;
    font-family: Roboto, sans-serif;
}

#profile_pic{
    height: 300px;
    width: 250px;
    object-fit: cover;
}

.hero-content {
    width: 800px;
    margin: 0 auto;
    padding-top: 3em;
}

.hero--content--intro {
    display: flex;
    color: #F58840;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-bottom: 3em;
}

.intro--name {
    font-size: 100px;
    letter-spacing: 0.2em;
    font-weight: 700;
}

.description {
    font-size: 60px;
    text-align: start;
    color: #B85252;
    letter-spacing: 0.1em;
}

.slogan {
    font-size: 24px;
    letter-spacing: 0.2em;
}

/* social media */

.socials {
    text-align: center;
    margin-top: 80px;
    position: relative;
    color: #EADEDE;
    letter-spacing: 0.2em;
}

.socials p:before {
    content: "";
    display:block;
    width: 200px;
    height:2px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;
}

.socials p:after {
    content: "";
    display:block;
    width: 200px;
    height:2px;
    background: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -2;
}

.socials img {
    padding: 10px 30px;
    height: 60px;
}