@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

#brand img {
    height: 60px;
    cursor: pointer;
}

li, a, button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(227, 223, 255);
    text-decoration: none;
}


.nav-link {
    list-style: none;
}

.nav-link img {
    height: 60px;
    cursor: pointer;
}

.nav-link li{
    display: inline-block;
    padding: 0 50px;
}

.nav-link li a {
    transition: all 0.3s ease 0s;
}

.nav-link li a:hover {
    color: rgb(38, 48, 184);
}

#contact button {
    padding: 9px 25px;
    background-color: rgba(38,48,184,1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 15px;
    padding: 20px 40px;
}

#contact button:hover {
    background-color: rgba(27, 33, 112,1);
}



#front-page {
    height: 50rem;
    width: 100%;
    padding: 100px 0;
}

#front-page h1 {
    color:rgb(227, 223, 255);
    font-size: 100px;
    margin: 0;
    padding: 0 300px;
    padding-top: 100px;
    font-family: 'Caveat', cursive;
}

#front-page h3 {
    color:rgb(227, 223, 255);
    font-size: 40px;
    font-family: 'Karla', sans-serif;
    padding: 0 300px;
}

#front-page img {
    float: right;
    font-size: 5px;
    padding-right: 100px;
    height: 350px;
    width: 350px;
}

#namaste {
    height: 100px;
    width: 100px;
    float: none;
}


/* about me section */


#about-me {
    border: none;
    border-radius: 50px;
    padding: 20px;
    margin: 100px;
    height: 600px;
    color:rgb(227, 223, 255);
    background-color: rgb(40, 49, 70);
}



/* Skills section */

#skills {
    border: none;
    border-radius: 50px;
    padding: 20px;
    margin: 100px;
    height: 600px;
    color: rgb(227, 223, 255);
    background-color: rgb(40, 49, 70);
}

/* Projects section */

#projects {
    border: none;
    border-radius: 50px;
    padding: 20px;
    margin: 100px;
    height: 600px;
    color: rgb(227, 223, 255);
    background-color: rgb(40, 49, 70);
}

/* Contact section */


#contacts {
    border: none;
    border-radius: 50px;
    padding: 20px;
    margin: 100px;
    height: 600px;
    color: rgb(227, 223, 255);
    background-color: rgb(40, 49, 70);
}